.imageButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.imageButton:hover .image {
    opacity: 0.8;
}

.imageButton:active .image {
    opacity: 0.6;
}