.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;
}

.label {
    margin-bottom: 8px;
    font-weight: bold;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 768px;
    height: 76px;
    
    &:focus {
        border-color: #007bff;
        outline: none;
    }
}